version: 2.1

orbs:
  circleci-maven-release-orb: sonatype-nexus-community/circleci-maven-release-orb@0.0.16

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2024.11.1
    steps:
      - run:
          name: Install OpenJDK 11
          command: |
            sudo apt-get update && sudo apt-get install openjdk-11-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
            java -version
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install module deps
          command: mvn package install -Dmaven.test.skip=true

      # Download maven dependencies so that we can cache them
      # ########################
      - run:
          name: Download Dependencies
          command: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # Standard maven build and test phases
      # ########################
      - run:
          name: Verify
          command: mvn clean verify

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always

      - store_test_results:
          path: ~/test-results

executors:
  new-java-maven-executor:
    machine:
      image: ubuntu-2204:2024.11.1

parameters:
  run_workflow_release:
    default: false
    type: boolean

workflows:
  version: 2
  main:
    jobs:
      - build-and-test
  release:
    when: << pipeline.parameters.run_workflow_release >>
    jobs:
      - build-and-test
      - circleci-maven-release-orb/run-maven-release:
          requires:
            - build-and-test
          executor: new-java-maven-executor
          mvn-release-perform-command: >-
            sudo apt-get update && sudo apt-get install openjdk-11-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
            mvn --batch-mode release:perform -DskipTests -s .circleci/.maven.xml
